.login{width: 500px; border: solid 1px #ccc; margin: auto;}
#button button{width: 135px;height:40px;}
.mui-bar{height:25px;}
.mui-input-group{border:0;}
#top{padding-top:25px;}
.mui-content{padding-top:15px;}
#box .mui-input-row{height:61px;padding:15px;}
#two a{text-decoration:none;color:#008842;font-size:16px;margin-left:30px;margin-bottom:30px;}
#two .mui-content-padded button{float: left;width:43%;margin-right:3%;height:40px;line-height:40px;padding:0;border:1px solid #008842;
                            font-size:16px;margin-top:30px;
                         }
#two .mui-content-padded button:first-child{color:#008842;left:15px}
#two .mui-content-padded button:last-child{float:right;}
